.button,
.disabled_button {
    background-color: indigo;
    color: white;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    padding: 8px 15px;
    border: none;
    border: 1px solid indigo;
    display: inline-block;
    transition: background-color 0.1s linear;
}

.disabled_button {
    /* pointer-events: none; */
    cursor: not-allowed;
    background-color: white;
    color: grey;
    border: 1px solid grey;

}

.button:hover {
    background-color: white;
    color: indigo;

}